# -*- restclient -*-
#
# Queries against the /xandar/user-posts endpoints
#

# variables
:date := (shell-command-to-string "echo -n (date +%Y-%m-%d-%M-%s)")
:host = 127.0.0.1:8001
:path = xandar/user-posts
:json = application/json


#
# Get all posts
#
GET http://:host/:path?sort=post.link&include=post.link,post.title,title

#
# Find by post title
#
GET http://:host/:path?where=(post.title contains 'monad')&per_page=2

#
# Find by post tags
#
GET http://:host/:path?where=(tags in ['haskell','emacs'])&per_page=20&include=tags,post.title,title

#
# Find by empty list query
#
GET http://:host/:path?where=(tags in [])

#
# Find with invalid query 1
#
GET http://:host/:path?where=(tags eq ['haskell','emacs'])

#
# Find all unread
#
GET http://:host/:path?where=(read eq false)&per_page=5&page=1&include=title,post.title,post.guid,createdAt&sort=-createdAt

#
# Find by feed title
#
GET http://:host/:path?where=(post.title contains 'activity')&per_page=3&page=1

#
# Find by title partial result
#
GET http://:host/:path?where=(post.title contains 'monad')&include=post.title

#
# Get a single post
#
GET http://:host/:path/1

#
# Delete a single post
#
DELETE http://:host/:path/57f422da966d70b95f5e5228-56d7e0c2c788cb1d6eb93217