# -*- restclient -*-
#
# Queries against the /xandar/user-posts endpoints
#

# variables
:date := (shell-command-to-string "echo -n (date +%Y-%m-%d-%M-%s)")
:host = 127.0.0.1:8001
:path = xandar/user-posts
:json = application/json


#
# Get all posts
#
GET http://:host/:path

#
# Find by title
#
GET http://:host/:path?where=(post.title contains 'monad')

#
# Find by title partial result (TODO: fix)
#
GET http://:host/:path?where=(post.title contains 'monad')&include=post.title

#
# Get a single post
#
GET http://:host/:path/1

