# -*- restclient -*-
#
# Queries against the /xandar/posts endpoints
#

# variables
:date := (shell-command-to-string "echo -n (date +%Y-%m-%d-%M-%s)")
:host = localhost:8001
:path = xandar/posts
:json = application/json

#
# Get all posts
#
GET http://:host/:path

#
# Get all posts - sort & partial response
#
GET http://:host/:path?sort=title&include=title,uri

#
# Get posts filtered by status
#
GET http://:host/:path?where=(lastReadStatus.readStatus eq "success")&include=title,lastReadStatus,uri

#
# Get posts created afte a date
#
GET http://:host/:path?where=(_createdAt ge 2017-01-08T07:47:45.928Z)

#
# Get all posts - pagination
#
GET http://:host/:path?page=4&per_page=5

#
# Get a single feed
#
GET http://:host/:path/5869ec3e59841810dc000009

#
# Get a single feed using ETag
#
GET http://:host/:path/5869ec3e59841810dc000009
If-None-Match: ef19b2e0ce2baa83fa90abfa82a5141d4f18842d

#
# Delete a non-existent feed
#
DELETE http://:host/:path/non-existent

#
# Delete an existent feed
#
DELETE http://:host/:path/587ad5bd5984186b15000001

#
# Create a single feed
#
POST http://:host/:path
Content-Type: :json
{
  "author": "Bill Wadman & Jeffery Saddoris",
  "comments": null,
  "date": "2016-03-01T18:30:00.000Z",
  "description": "post content",
  "feedId": "56d7d88bc788cb1d6eb9199c",
  "guid": "http://5by5.tv/otp/205",
  "image": {
    "url": "http://icebox.5by5.tv/images/broadcasts/48/cover.jpg"
  },
  "link": "http://5by5.tv/otp/205",
  "pubdate": "2016-03-01T18:30:00.000Z",
  "summary": "post summary",
  "title": "On Taking Pictures 201: No Such Thing as Never or Always"
}

#
# Create multiple posts
#
POST http://:host/:path
Content-Type: :json
[
  {
    "author": null,
    "data": {
      "etag": null,
      "last-modified": "Mon, 19 Sep 2016 23:30:42 GMT"
    },
    "date": "2016-09-19T23:30:42.000Z",
    "description": "Haskell and assembly tricks",
    "failedAttempts": 0,
    "favicon": null,
    "format": "rss-2.0",
    "generator": "http://wordpress.com/",
    "guid": "https://hbtvl.wordpress.com",
    "image": {
      "title": "hbtvl",
      "url": "https://s2.wp.com/i/buttonw-com.png"
    },
    "language": "en",
    "lastPostDate": "2015-12-14T21:17:23.000Z",
    "lastReadDate": "2017-01-15T01:48:05.200Z",
    "lastReadStatus": {
      "readStatus": "success",
      "readStatusError": null
    },
    "link": "https://hbtvl.wordpress.com",
    "postCount": 6,
    "title": "hbtvl",
    "uri": "https://hbtvl.wordpress.com/feed/"
  },
  {
    "author": "Dennis Gosnell",
    "data": {
      "etag": null,
      "last-modified": null
    },
    "date": "2016-11-09T00:00:00.000Z",
    "description": null,
    "failedAttempts": 0,
    "favicon": null,
    "format": "atom-1.0",
    "generator": null,
    "guid": "https://functor.tokyo/blog",
    "image": {
      "title": "",
      "url": "https://functor.tokyo/static/img/functor.tokyo.logo.png?etag=-HTQgqMp"
    },
    "language": null,
    "lastPostDate": "2016-11-09T00:00:00.000Z",
    "lastReadDate": "2017-01-15T01:48:05.595Z",
    "lastReadStatus": {
      "readStatus": "success",
      "readStatusError": null
    },
    "link": "https://functor.tokyo/blog",
    "postCount": 16,
    "title": "functor.tokyo blog feed",
    "uri": "https://functor.tokyo/blog/feed"
  }
]

#
# Replace a single feed
#
PUT http://:host/:path/587a810d598418739b000001
Content-Type: :json
{
    "email": "replaced3@aol.com",
    "admin": true
}

#
# Modify a single feed
#
PATCH http://:host/:path/587ad83859841886c7000003
Content-Type: :json
{
    "email": "updated3@aol.com"
}
